<div class="container coasters-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción</h4>
  <p>{{name}}</p>
  <p><strong>Longitud: </strong> {{length}} | <strong>Inversiones: </strong> {{inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: {{park}}</p>
  <p><strong>Descripción</strong>: {{park.description}}</p>

  <a href="/coasters" class="btn btn-dark">Volver</a>
  
  <form action="/{{_id}}/delete" method="POST">
    <button class="btn btn-dark">Borrar</button>
  </form>

</div>